.design-container {
  width: 100%;
  margin: 22px 0 30px;
  display: flex;
  justify-content: space-between;

  .design__title {
    font-family: $primary-font-family;
    // color: $color-font-primary;
    color: rgb(253, 0, 118);
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-left: 19px;
  }
  .design__label {
    display: flex;
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }

    .design__radio {
      margin-right: 10px;
      width: 17px;
      height: 17px;
    }

    .design__color {
      width: 30px;
      height: 25px;

      &--primary-blue {
        background-color: #52fd00;
      }
      &--dirty-blue {
        background-color: #ffff00;
      }
      &--green {
        background-color: fuchsia;
      }
      &--dried-blood {
        background-color: #ffa300;
      }
      &--red {
        background-color: #0028ff;
      }
      &--tomato {
        background-color: #cf0060;
      }
      &--slate {
        background-color: #c501e2;
      }
      &--yellow {
        background-color: #ff0534;
      }
      &--sky-blue {
        background-color: #2ef8a0;
      }
    }
  }
}
