<div class="design-container">
  <h4 class="design__title">Colores</h4>
  <div class="options-container">
    <label class="design__label" for="blue-green">
      <input
        class="design__radio"
        type="radio"
        name="color-palet"
        id="blue-green"
      />
      <div class="design__color design__color--primary-blue"></div>
      <div class="design__color design__color--dirty-blue"></div>
      <div class="design__color design__color--green"></div>
    </label>

    <label class="design__label" for="red-orange">
      <input
        class="design__radio"
        type="radio"
        name="color-palet"
        id="red-orange"
      />
      <div class="design__color design__color--dried-blood"></div>
      <div class="design__color design__color--red"></div>
      <div class="design__color design__color--tomato"></div>
    </label>

    <label class="design__label" for="color-mix">
      <input
        class="design__radio"
        type="radio"
        name="color-palet"
        id="color-mix"
      />
      <div class="design__color design__color--slate"></div>
      <div class="design__color design__color--yellow"></div>
      <div class="design__color design__color--sky-blue"></div>
    </label>
  </div>
</div>
