<div class="fill-container collapsed">
  <label class="fill__label" for="name"
    >Nombre completo
    <input
      class="fill__input fill__input-js js-fullname"
      type="text"
      name="name"
      id="name"
      placeholder="Ej.: Sally Jill"
    />
  </label>
  <label class="fill__label" for="job"
    >Puesto
    <input
      class="fill__input fill__input-js js-job"
      type="text"
      name="job"
      id="job"
      placeholder="Ej.: Front-end unicorn"
    />
  </label>
  <div class="fill__label" for="profilePic">
    <p class="label__img">Imagen de perfil</p>
    <label class="fill__btn js__profile-trigger" for="img-selector"
      >Añadir imagen</label
    >
    <input
      class="action__hiddenField js__profile-upload-btn hidden"
      type="file"
      name="photo"
      id="img-selector"
    />
    <div class="label__container profile">
      <div class="fill__profile-pic profile__image js__profile-image"></div>
    </div>
  </div>
  <label class="fill__label" for="email"
    >Email
    <input
      class="fill__input fill__input-js js-email"
      type="email"
      name="email"
      id="email"
      placeholder="Ej.: sally-hill@gmail.com"
    />
  </label>
  <label class="fill__label" for="phone"
    >Teléfono
    <input
      class="fill__input fill__input-js"
      type="tel"
      pattern="[0-9]{3}-[0-9]{3}-[0-9]{3}"
      name="phone"
      id="phone"
      placeholder="Ej.: 555-555-555"
    />
  </label>
  <label class="fill__label" for="linkedin"
    >Linkedin
    <input
      class="fill__input fill__input-js"
      type="text"
      name="linkedin"
      id="linkedin"
      placeholder="Ej.: linkedin.com/in/sally.hill"
    />
  </label>
  <label class="fill__label" for="github"
    >Github
    <input
      class="fill__input fill__input-js"
      type="text"
      name="github"
      id="github"
      placeholder="Ej.: github.com/username"
    />
  </label>
</div>
