<div class="fill-container">
  <label class="fill__label" for="name"
    >Nombre completo
    <input
      class="fill__input js-fill__input"
      type="text"
      name="name"
      id="name"
      placeholder="Ej.: Sally Jill"
    />
  </label>
  <label class="fill__label" for="job"
    >Puesto
    <input
      class="fill__input js-job"
      type="text"
      name="job"
      id="job"
      placeholder="Ej.: Front-end unicorn"
    />
  </label>
  <label class="fill__label" for="profilePic"
    >Imagen de perfil
    <div class="label__container">
      <button class="fill__btn">Añadir imagen</button>
      <div class="fill__profile-pic"></div>
    </div>
  </label>
  <label class="fill__label" for="email"
    >Email
    <input
      class="fill__input"
      type="email"
      name="email"
      id="email"
      placeholder="Ej.: sally-hill@gmail.com"
    />
  </label>
  <label class="fill__label" for="phone"
    >Teléfono
    <input
      class="fill__input"
      type="tel"
      name="phone"
      id="phone"
      placeholder="Ej.: 555-55-55-55"
    />
  </label>
  <label class="fill__label" for="linkedin"
    >Linkedin
    <input
      class="fill__input"
      type="text"
      name="linkedin"
      id="linkedin"
      placeholder="Ej.: linkedin.com/in/sally.hill"
    />
  </label>
  <label class="fill__label" for="github"
    >Github
    <input
      class="fill__input"
      type="text"
      name="github"
      id="github"
      placeholder="Ej.: @sally-hill"
    />
  </label>
</div>
