<fieldset class="legend">
  <div class="js-legend legend__container">
    <div class="legend__container--icon">
      <img
        class="legend__icon"
        src="./assets/images/@@icon"
        alt="@@iconAlt"
        title="@@iconTitle"
      />
      <legend class="legend__title">@@title</legend>
    </div>
    <img
      class="legend__arrow"
      src="./assets/images/arrow-icon.svg"
      alt="arrow"
      title="Click to open"
    />
  </div>
  <include src="@@includeSrc" ></include>
</fieldset>
