<div class="sharecontainer collapsed">
  <section class="share_button">
    <div class="share_button__item sharebuttonorange">
      <img
        class="share_button__item--img"
        src="./assets/images/address-card-regular (2).svg"
        title="icon"
      />Crear Tarjeta
    </div>
  </section>

  <section class="share_creation collapsed">
    <div class="share_button__item--line"></div>
    <h3 class="share_creation__title">La tarjeta ha sido creada:</h3>
    <a
      class="share_creation__link href js-shareCreationLink"
      src="https://awesome-profile-card.com?id=A456DF0001"
      >https://awesome-profile-card.com?id=A456DF0001</a
    >
    <a class="share_creation__twitter" href="#"
      ><img
        class="share_creation__twitter--img"
        src="./assets/images/twitter.svg"
      />Compartir en Twitter</a
    >
  </section>
</div>
