<div class="sharecontainer collapsed">
  <section class="share_button">
    <button type="submit" class="share_button__item sharebuttonorange">
      <img
        class="share_button__item--img"
        src="./assets/images/address-card-regular (2).svg"
        title="icon"
      />Crear Tarjeta
    </button>
  </section>

  <section class="share_creation collapsed">
    <div class="share_button__item--line"></div>
    <h3 class="share_creation__title">La tarjeta ha sido creada:</h3>
    <a
      class="share_creation__link href js-shareCreationLink"
      src="https://awesome-profile-card.com?id=A456DF0001"
      >https://awesome-profile-card.com?id=A456DF0001</a
    >

    <a class="share_creation__twitter js-share-RRSS" href=""
    target="_blank"><img
        class="share_creation__twitter--img"
        src="./assets/images/twitter.svg"
      />Comparte en Twitter</a
    >
    <a class="share_creation__linkedin js-share-RRSS" href=""
    target="_blank"><img
        class="share_creation__linkedin--img"
        src="./assets/images/linkedin.svg"
      />Comparte en LinkedIn</a
    >
    <a class="share_creation__facebook js-share-RRSS" href=""
    target="_blank"><img
        class="share_creation__facebook--img"
        src="./assets/images/facebook.svg"
      />Comparte en Facebook</a
    >
  </section>
</div>
