<section class="card-container">
  <div class="container">
    <button class="reset__button js-resetBtn" type="reset" form="form">
      <span class="reset__button--icon"
        ><img src="./assets/images/trash-alt-regular.svg" alt="" /></span
      ><small class="reset__button--reset"> Reset</small>
    </button>
    <article class="card">
      <div class="card__title">
        <div class="card__title--rectangle rectangle-js rectangleblue"></div>
        <div class="card__title--text">
          <h3 class="name nameblue js-nameInput fullname-js">nombre apellido</h3>
          <h4 class="subtitle js-jobInput">Front-end developer</h4>
        </div>
      </div>
      <div class="card__photo profile__preview js__profile-preview"></div>
      <ul class="card__list">
        <li>
          <div class="card__list--icon icon-js blueicon">
            <a href="#">
              <i class="fas fa-mobile-alt card__list--icon-1"></i></a>
          </div>
        </li>
        <li>
          <div class="card__list--icon icon-js blueicon">
            <a href="mailto:email@email.com" class="js_preview_email card__list--icon-1">
              <i class="far fa-envelope"></i></a>
          </div>
        </li>
        <li>
          <div class="card__list--icon icon-js blueicon">
            <a href="#"
              ><i class="fab fa-linkedin-in card__list--icon-1"></i></a>
          </div>
        </li>
        <li>
          <div class="card__list--icon icon-js blueicon">
            <a href="#"
              ><i class="fab fa-github-alt card__list--icon-1"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
