<section class="card-container">
  <div class="container">
    <button class="reset-button">
      <img
        class="trash-icon"
        src="./assets/images/trash-alt-regular.svg"
        alt=""
      />
      Reset
    </button>
    <div class="card">
      <div class="card__title">
        <div class="card__title--rectangle"></div>
        <div class="card__title--text">
          <h3 class="name">nombre apellido</h3>
          <h4 class="subtitle">Front-end developer</h4>
        </div>
      </div>
      <div class="card__photo"></div>
      <ul class="card__list">
        <li>
          <div class="card__list--icon">
            <img
              class="card__list--icon-1"
              src="./assets/images/mobile-alt-solid.svg"
              alt="mobile"
            />
          </div>
        </li>
        <li>
          <div class="card__list--icon">
            <img
              class="card__list--icon-2"
              src="./assets/images/envelope-regular.svg"
              alt=""
            />
          </div>
        </li>
        <li>
          <div class="card__list--icon">
            <img
              class="card__list--icon-3"
              src="./assets/images/linkedin-in-brands.svg"
              alt=""
            />
          </div>
        </li>
        <li>
          <div class="card__list--icon">
            <img
              class="card__list--icon-4"
              src="./assets/images/github-alt-brands.svg"
              alt=""
            />
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
