<section class="card-container">
  <div class="container">
    <button class="reset__button js-resetBtn" type="reset" form="form">
      <span class="reset__button--icon"
        ><img src="./assets/images/trash-alt-regular.svg" alt="" /></span
      ><small class="reset__button--reset"> Reset</small>
    </button>
    <article class="card">
      <div class="card__title">
        <div class="card__title--rectangle rectangle-js rectangleblue"></div>
        <div class="card__title--text">
          <h3 class="name nameblue js-nameInput fullname-js">nombre apellido</h3>
          <h4 class="subtitle js-jobInput">Front-end developer</h4>
        </div>
      </div>
      <div class="card__photo profile__preview js__profile-preview"></div>
      <ul class="card__list">
        <li>
          <div class="card__list--icon icon-js ">
            <a href="#">
              <img
                class="card__list--icon-1"
                src="./assets/images/mobile-alt-solid.svg"
                alt="mobile"
            /></a>
          </div>
        </li>
        <li>
          <div class="card__list--icon icon-js ">
            <a href="mailto:email@email.com" class="js_preview_email">
              <img
                class="card__list--icon-2"
                src="./assets/images/envelope-regular.svg"
                alt=""
            /></a>
          </div>
        </li>
        <li>
          <div class="card__list--icon icon-js">
            <a href="#"
              ><img
                class="card__list--icon-3 "
                src="./assets/images/linkedin-in-brands.svg"
                alt=""
            /></a>
          </div>
        </li>
        <li>
          <div class="card__list--icon icon-js blueicon">
            <a href="#"
              ><img
                class="card__list--icon-4"
                src="./assets/images/github-alt-brands.svg"
                alt=""
            /></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
