<form class="form-section" action="" id="form">
  <include
    src="./form-partials/legend.html"
    icon="design-icon.svg"
    iconAlt="icono de diseño"
    iconTitle="diseña tu tarjeta"
    title="diseña"
    includeSrc="./design.html"
  ></include>
  <include
    src="./form-partials/legend.html"
    icon="fill-icon.svg"
    iconAlt="icono de relleno"
    iconTitle="Rellena tu tarjeta"
    title="Rellena"
    includeSrc="./fill.html"
  ></include>
  <include
    src="./form-partials/legend.html"
    icon="share-icon.svg"
    iconAlt="icono de compartir"
    iconTitle="Comparte tu tarjeta"
    title="Comparte"
    includeSrc="./share.html"
  ></include>
</form>
