<main class="main">
  <img
    class="main__img"
    src="./assets/images/tarjetas-molonas.png"
    alt="Awesome profile-cards"
  />
  <h1 class="main__title">Crea tu tarjeta de visita</h1>
  <p class="main__description">
    Crea mejores contactos profesionales de forma fácil y cómoda
  </p>

  <div>
    <ul class="main__list">
      <li class="main__list--item">
        <img class="icon" src="./assets/images/design-icon.svg" alt="diseña" />
        Diseña
      </li>
      <li class="main__list--item">
        <img
          class="icon"
          src="./assets/images/fill-icon.svg"
          alt="rellena"
        />Rellena
      </li>
      <li class="main__list--item">
        <img class="icon" src="./assets/images/share-icon.svg" alt="comparte" />
        <p>Comparte</p>
      </li>
    </ul>
  </div>
  <a class="main__button" href="./design-cards.html">comenzar</a>
</main>
