<main class="maincards">
  <img
    class="maincards__img"
    src="./assets/images/superpop-logo.png"
    alt="Awesome profile-cards"
  />
  <h1 class="maincards__title">Crea tu tarjeta de visita</h1>
  <p class="maincards__description">
    Crea tarjetas super molonas para ser ¡la más guay del insti!
  </p>

  <div>
    <ul class="maincards__list">
      <li class="maincards__list--item">
        <i class="far fa-object-ungroup icon"></i>
        <p>Diseña</p>
      </li>
      <li class="maincards__list--item">
        <i class="far fa-keyboard icon"></i>
        <p>Rellena</p>
      </li>
      <li class="maincards__list--item">
        <i class="fas fa-share-alt icon"></i>
        <p>Comparte</p>
      </li>
    </ul>
  </div>
  <a class="maincards__button" href="./design-cards.html">comenzar</a>
</main>
