//RECTANGULO
.rectangleblue {
  background-color:  #ffff00;
}
.rectanglered {
  background-color: #ffa300;
}

.rectanglemix {
  background-color: #2ef8a0;
}

//NOMBRE Y APELLIDOS

.nameblue {
  color: fuchsia;
}

.namered {
  color: #cf0060;
}
.namemix {
  color: #ff0534;
}

//CIRCULOS ICONOS

.blueiconcircle {
  border: 3px solid fuchsia;
  transition: background-color ease 0.5s;
  &:hover {
    background-color: #52fd00;
  }
}

.rediconcircle {
  border: 3px solid #0028ff;
  transition: background-color ease 0.5s;
  &:hover {
    background-color: #cf0060;
  }
}

.mixiconcircle {
  border: 3px solid #c501e2;
  transition: background-color ease 0.5s;
  &:hover {
    background-color: #2ef8a0;
  }
}

//iconos

.blueicon {
  color: $color-primary-blue;
}

.redicon {
  color: $dried-blood;
}

.mixicon {
  color: $slate;
}
