.sharecontainer {
    width: 100%;
    padding-top: 30px;
  }
  
  .share_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    &__item {
      height: 50px;
      width: 199px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: $primary-font-family;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32);
      border: none;
      font-weight: 500;
      text-decoration: none;
      border-radius: 12px;
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-bottom: 30px;
  
      &--img {
        height: 22px;
        width: 25px;
        color: $white;
        margin-right: 10px;
      }
      &--line {
        width: 100%;
        height: 1px;
        background-color: $white-two;
      }
    }
  }
  .sharebuttonorange {
    background-color: $color-primary;
    color: $white;
  }
  
  .sharebuttongrey {
    background-color: $grey-btn;
    color: $white;
  }
  
  .collapsed {
    height:0;
    visibility: collapse;
  }
  
  .share_creation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
    &__title {
      font-family: $primary-font-family;
      font-size: 1.8rem;
      font-weight: 600;
      color: $color-font-primary;
      margin-top: 30px;
    }
    &__link {
      font-family: $primary-font-family;
      font-size: 1.2rem;
      color: red;
    }
    &__twitter {
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      width: 181px;
      height: 30px;
      margin: 10px 33px 30px 29px;
      padding: 3px 9px 6px 10.5px;
      border-radius: 3px;
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.32);
      background-color: $color-twitter;
      font-size: 1.4rem;
      color: $white;
      font-family: $primary-font-family;
      line-height: 1.43;
      letter-spacing: normal;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      &--img {
        color: $white;
        margin-right: 10px;
        width: 18px;
        height: 18px;
      }
    }
  }